LF_PORTAL_VAULT_ROOT=C:\Users\adity\Documents\Ongoing Local\ST\novel-analyzer\vault\Forty Millenniums of Cultivation
LF_PORTAL_ST_INTERNAL_URL=http://127.0.0.1:8000
LF_PORTAL_ST_PUBLIC_URL=https://asus-strix-scar.tail4741ad.ts.net:8444
LF_PORTAL_ALLOWED_ORIGINS=https://read.adityaarpitha.com,http://localhost:5173,http://127.0.0.1:5173
LF_PORTAL_REQUEST_TIMEOUT_SECONDS=20
LF_PORTAL_OWNER_LOGINS=adityaprasadiskool@gmail.com
LF_PORTAL_MAX_REQUEST_BYTES=4194304
LF_PORTAL_IDEMPOTENCY_TTL_SECONDS=600
LF_PORTAL_IDEMPOTENCY_MAX_ENTRIES=128
LF_PORTAL_CREATION_COOLDOWN_SECONDS=2
